<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
</head>


<body>
    <div class="wrapper">
    <div id="mainContent">
        <div id="pageHeader" class="container_5">
            <div class="grid_4 inline logopadded">
                <div class="inline">
                    <img alt="B" src="../../Content/Images/FancyB.png"  />
                </div>
                <div class="inline title">
                    en's Site <br />
                    <div class="subtitle">
                        Because Why Not?
                    </div>
                </div>
            </div>
            <div class="grid_1">
                <a href="" title="LearnMore" id="HeaderLink">Some Text</a>
            </div>
            <div class="clear"> </div>
        </div>
        <div id="pageLayout" class="container_5">
            <div id="navbar" class="grid_1">
                <ul id="menu">
                    <li><a>Résumé</a></li>
                    <li><a>Work</a></li>
                </ul>
            </div>
            <div id="content" class="grid_4">
                <div id="main">
                    @RenderBody()
                </div>
            </div>
            <div class="clear"> </div>
            <div id="footer">
                <div class="grid_2">
                    About Us: Ben Mitchell is a world leader (probably) in website and application development. 
                    He's also a new dad and long-time enjoyer of fun.  
                    More can be found about him literally everywhere else on this site.
                </div>
                <div class="grid_3" style="text-align:right; margin-left:60px;">
                    Contact Us: <a href="mailto:benmitchell1984@aol.com">benmitchell1984@aol.com</a> <br /> 
                    <a href="http://www.facebook.com/profile.php?id=97800535" target="_blank" class="SocialMediaLink" style="background-position:-32px;">Facebook</a>
                    <a href="http://twitter.com/#!/Sothrie" target="_blank" class="SocialMediaLink" style="background-position:-224px;">Twitter</a>
                    <a href="http://www.flickr.com/photos/sothrie/" target="_blank" class="SocialMediaLink" style="background-position:-64px;">Flickr</a><br />
                    © Ben Mitchell, 2012+
                </div>
            </div>
        </div>
    </div></div>
</body>
</html>
